
table {
    max-width: 100%;
    background-color: transparent;
    empty-cells: show;
}
table code {
    white-space: normal;
}
th {
    text-align: left;
}
.am-table {
    width: 100%;
    margin-bottom: 1.6rem;
    border-spacing: 0;
    border-collapse: separate;
}
.am-table > thead > tr > th,
.am-table > tbody > tr > th,
.am-table > tfoot > tr > th,
.am-table > thead > tr > td,
.am-table > tbody > tr > td,
.am-table > tfoot > tr > td {
    padding: 0.7rem;
    line-height: 1.6;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.am-table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}
.am-table > caption + thead > tr:first-child > th,
.am-table > colgroup + thead > tr:first-child > th,
.am-table > thead:first-child > tr:first-child > th,
.am-table > caption + thead > tr:first-child > td,
.am-table > colgroup + thead > tr:first-child > td,
.am-table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.am-table > tbody + tbody tr:first-child td {
    border-top: 2px solid #ddd;
}
/* Bordered version */
.am-table-bordered {
    border: 1px solid #ddd;
    border-left: none;
}
.am-table-bordered > thead > tr > th,
.am-table-bordered > tbody > tr > th,
.am-table-bordered > tfoot > tr > th,
.am-table-bordered > thead > tr > td,
.am-table-bordered > tbody > tr > td,
.am-table-bordered > tfoot > tr > td {
    border-left: 1px solid #ddd;
    /*&:first-child {
            border-left: none;
          }*/
}
.am-table-bordered > tbody > tr:first-child > th,
.am-table-bordered > tbody > tr:first-child > td {
    border-top: none;
}
.am-table-bordered > thead + tbody > tr:first-child > th,
.am-table-bordered > thead + tbody > tr:first-child > td {
    border-top: 1px solid #ddd;
}
/* Border-radius version */
.am-table-radius {
    border: 1px solid #ddd;
    border-radius: 2px;
}
.am-table-radius > thead > tr:first-child > th:first-child,
.am-table-radius > thead > tr:first-child > td:first-child {
    border-top-left-radius: 2px;
    border-left: none;
}
.am-table-radius > thead > tr:first-child > th:last-child,
.am-table-radius > thead > tr:first-child > td:last-child {
    border-top-right-radius: 2px;
    border-right: none;
}
.am-table-radius > tbody > tr > th:first-child,
.am-table-radius > tbody > tr > td:first-child {
    border-left: none;
}
.am-table-radius > tbody > tr > th:last-child,
.am-table-radius > tbody > tr > td:last-child {
    border-right: none;
}
.am-table-radius > tbody > tr:last-child > th,
.am-table-radius > tbody > tr:last-child > td {
    border-bottom: none;
}
.am-table-radius > tbody > tr:last-child > th:first-child,
.am-table-radius > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 2px;
}
.am-table-radius > tbody > tr:last-child > th:last-child,
.am-table-radius > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 2px;
}
/* Zebra-striping */
.am-table-striped > tbody > tr:nth-child(odd) > td,
.am-table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
/* Hover effect */
.am-table-hover > tbody > tr:hover > td,
.am-table-hover > tbody > tr:hover > th {
    background-color: #e9e9e9;
}
.am-table-compact > thead > tr > th,
.am-table-compact > tbody > tr > th,
.am-table-compact > tfoot > tr > th,
.am-table-compact > thead > tr > td,
.am-table-compact > tbody > tr > td,
.am-table-compact > tfoot > tr > td {
    padding: 0.4rem;
}
.am-table-centered > thead > tr > th,
.am-table-centered > tbody > tr > th,
.am-table-centered > tfoot > tr > th,
.am-table-centered > thead > tr > td,
.am-table-centered > tbody > tr > td,
.am-table-centered > tfoot > tr > td {
    text-align: center;
}
.am-table > thead > tr > td.am-active,
.am-table > tbody > tr > td.am-active,
.am-table > tfoot > tr > td.am-active,
.am-table > thead > tr > th.am-active,
.am-table > tbody > tr > th.am-active,
.am-table > tfoot > tr > th.am-active,
.am-table > thead > tr.am-active > td,
.am-table > tbody > tr.am-active > td,
.am-table > tfoot > tr.am-active > td,
.am-table > thead > tr.am-active > th,
.am-table > tbody > tr.am-active > th,
.am-table > tfoot > tr.am-active > th {
    background-color: #ffd;
}
.am-table > thead > tr > td.am-disabled,
.am-table > tbody > tr > td.am-disabled,
.am-table > tfoot > tr > td.am-disabled,
.am-table > thead > tr > th.am-disabled,
.am-table > tbody > tr > th.am-disabled,
.am-table > tfoot > tr > th.am-disabled,
.am-table > thead > tr.am-disabled > td,
.am-table > tbody > tr.am-disabled > td,
.am-table > tfoot > tr.am-disabled > td,
.am-table > thead > tr.am-disabled > th,
.am-table > tbody > tr.am-disabled > th,
.am-table > tfoot > tr.am-disabled > th {
    color: #999999;
}
.am-table > thead > tr > td.am-primary,
.am-table > tbody > tr > td.am-primary,
.am-table > tfoot > tr > td.am-primary,
.am-table > thead > tr > th.am-primary,
.am-table > tbody > tr > th.am-primary,
.am-table > tfoot > tr > th.am-primary,
.am-table > thead > tr.am-primary > td,
.am-table > tbody > tr.am-primary > td,
.am-table > tfoot > tr.am-primary > td,
.am-table > thead > tr.am-primary > th,
.am-table > tbody > tr.am-primary > th,
.am-table > tfoot > tr.am-primary > th {
    color: #0b76ac;
    background-color: rgba(14, 144, 210, 0.115);
}
.am-table > thead > tr > td.am-success,
.am-table > tbody > tr > td.am-success,
.am-table > tfoot > tr > td.am-success,
.am-table > thead > tr > th.am-success,
.am-table > tbody > tr > th.am-success,
.am-table > tfoot > tr > th.am-success,
.am-table > thead > tr.am-success > td,
.am-table > tbody > tr.am-success > td,
.am-table > tfoot > tr.am-success > td,
.am-table > thead > tr.am-success > th,
.am-table > tbody > tr.am-success > th,
.am-table > tfoot > tr.am-success > th {
    color: #5eb95e;
    background-color: rgba(94, 185, 94, 0.115);
}
.am-table > thead > tr > td.am-warning,
.am-table > tbody > tr > td.am-warning,
.am-table > tfoot > tr > td.am-warning,
.am-table > thead > tr > th.am-warning,
.am-table > tbody > tr > th.am-warning,
.am-table > tfoot > tr > th.am-warning,
.am-table > thead > tr.am-warning > td,
.am-table > tbody > tr.am-warning > td,
.am-table > tfoot > tr.am-warning > td,
.am-table > thead > tr.am-warning > th,
.am-table > tbody > tr.am-warning > th,
.am-table > tfoot > tr.am-warning > th {
    color: #F37B1D;
    background-color: rgba(243, 123, 29, 0.115);
}
.am-table > thead > tr > td.am-danger,
.am-table > tbody > tr > td.am-danger,
.am-table > tfoot > tr > td.am-danger,
.am-table > thead > tr > th.am-danger,
.am-table > tbody > tr > th.am-danger,
.am-table > tfoot > tr > th.am-danger,
.am-table > thead > tr.am-danger > td,
.am-table > tbody > tr.am-danger > td,
.am-table > tfoot > tr.am-danger > td,
.am-table > thead > tr.am-danger > th,
.am-table > tbody > tr.am-danger > th,
.am-table > tfoot > tr.am-danger > th {
    color: #dd514c;
    background-color: rgba(221, 81, 76, 0.115);
}